* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("./images/coffeehouse2.jpg");
    height: 493px;
    width: 100%;
}



nav {
    background-color: black;
    padding: 6px 16px 7px 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}


.nav-href {
    text-decoration: none;
    font-size: 15px;
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    padding: 13px 16px;
    color: #fff;
    width: 50%;
    list-style: none;
    text-align: center;
}

.nav-li:hover {
    background-color: silver;
    color: #000;
}

.head-1>span {
    font-size: 90px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 111px;
    line-height: 135px;
    font-family: "Inconsolata", sans-serif;
    text-align: center;

}

.text-2 {
    color: #fff;
    font-family: "Inconsolata", sans-serif;
    font-size: 15px;
}



.para-txt-2>p {
    position: absolute;
    bottom: 4px;
    right: 0;
    padding: 12px 24px;
}

.para-txt-1>p {
    position: absolute;
    padding: 3px 8px 4px 8px;
    bottom: 12px;
    left: 24px;
    background-color: #000;
    display: inline-block;
}

/* step second */
.second-div {
    padding: 0.01em 16px;
    padding-bottom: 48px;
    background-color: #f6f5f2;
}

.container-2 {
    text-align: center;
    font-family: "Inconsolata", sans-serif;
    margin: auto;
    max-width: 700px;
}



.head-2>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 1px 8px 2px 8px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 18px;
}

.head-2 {
    padding: 64px 0px;
    margin: 10px 0px;
}

.text-3,
.text-4,
.text-5>p {
    font-size: 18px;
    margin: 0px auto;
    line-height: 27px;
    text-align: left;
}

.text-3 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.text-4 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.text-5 {
    margin-top: 18px;
    border: 1px solid #f1f1f1;
    border-left: 6px #ccc solid;
    margin: 0px auto;
    max-width: 700px;
    text-align: justify;
    font-size: 18px;
    background-color: #f1f1f1;
    margin-top: 18px;
    margin-bottom: 19px;
    padding-left: 15px;
    padding-right: 27px;
}

.italic {
    margin-top: 18px;
    margin-bottom: 18px;
    font-style: italic;
}

.text-5>p {
    margin-top: 18px;
    margin-bottom: 18px;
}

.img-1>img {
    margin-top: 12px;
    width: 100%;

}

.text-6 {
    text-align: left;
    font-size: 18px;
}

.text-6>.txt-2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.text-6>.txt-3 {
    margin-top: 20px;
    margin-bottom: 30px;

}


/* step three */
.container-3 {
    text-align: center;
    margin: auto;
    max-width: 700px;
}

.head-3 {
    padding: 48px 0px;
    margin: 10px 0px;
}

.head-3>span {
    font-size: 18px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 1px 8px 2px 8px;
    display: inline-block;
    letter-spacing: 4px;
}

.menu-after {
    border: 1px #f6f5f2 solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    width: 100%;

}


.form-btn {
    display: flex;
    border-bottom: 1px #f6f5f2 solid;
    text-transform: capitalize;
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}


.form-btn>.btn {
    width: 49.99999%
}

.btn {
    font-size: 18px;
    text-transform: capitalize;
    background-color: #616161;
    color: #fff;
    font-family: "Inconsolata", sans-serif;
    border: none;
    padding: 4.5px 0px
}

.btn-2 {
    background-color: #f6f5f2;
    color: black;
}

.form-under-container {
    padding: 48px 16px;
    text-align: left;
}


.menu-txt-1>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}

.menu-txt-1>p {
    font-family: "Inconsolata", sans-serif;
    color: #757575;
    font-size: 18px;
    margin: 18px 0px;
    padding: 7px 0px 42px 0px
}

.menu-txt-2>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}

.menu-txt-2>p {
    font-family: "Inconsolata", sans-serif;
    color: #757575;
    font-size: 18px;
    margin: 18px 0px;
    padding: 7px 0px 42px 0px
}

.menu-txt-3>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;

}

.menu-txt-3>p {
    font-family: "Inconsolata", sans-serif;
    color: #757575;
    font-size: 18px;
    margin: 18px 0px;
    padding: 7px 0px 42px 0px
}

.menu-txt-4>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}

.menu-txt-4>p {
    font-family: "Inconsolata", sans-serif;
    color: #757575;
    font-size: 18px;
    margin: 18px 0px;
    padding: 7px 0px 42px 0px
}

.menu-txt-5>h5 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}

.menu-txt-5>p {
    font-family: "Inconsolata", sans-serif;
    color: #757575;
    font-size: 18px;
    margin: 18px 0px;
    padding: 7px 0px 42px 0px
}

.img-2>img {
    width: 100%
}

.img-2 {
    margin-top: 32px;
}

/* step four */
.container-4 {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.head-4>span {
    font-size: 18px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 1px 8px 2px 8px;
    display: inline-block;
    letter-spacing: 4px;
}

.head-4 {
    padding: 48px 0px;
    margin: 10px 0px;
}

.text-7 {
    margin: 18px;
}

.text-7>p {
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    position: relative;
    right: 17px;
}

.img-3>img {
    width: 100%;
}

.text-8 {
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    margin: 15px 0px;
}

.txt-8-sm {
    font-size: 18px;
    background-color: #000;
    color: #fff;
    padding: 0px 8px 0px 8px;
    display: inline-block;
    margin-right: 10px;
}

.text-9>p {
    text-align: left;
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    margin: 18px 0px;

}

.forms {
    display: flex;
    display: inline-block;
    width: 100%;
}

input {
    padding: 22px 8px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 9px 0px;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3px;
}

.btn-3 {
    text-align: left;
    margin-top: 9.9px;
}

.btn-3>button {

    font-size: 18px;
    font-family: "Inconsolata", sans-serif;
    padding: 12px 16px 13px 16px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    display: inline-block;
    border: none;
}

.btn-3>button:hover {
    background-color: silver;
    color: #000;
}

/* step five */
.container-5>footer {
    text-align: center;
    padding-top: 54px;
    padding-bottom: 48px;
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
}

footer>p {
    margin: 18px 0px;
}

footer,
p>a {
    color: #000;
}

.container-5 {
    background-color: #f1f1f1;
    height: 160px;
}

@media only screen and (max-width: 600px) {
    .para-txt-1 {
        display: none;
    }

}